.container{
    width: 1200px;
    display: flex;
    color: white;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}
.games_container{
    justify-content: space-between;
    margin-top: 1em;

}
.min-heigth{
   height: 80%;     
}